In [2]:
import sqlite3
import pandas as pd
bt_df = pd.read_csv("10000 BT Records.csv")

conn = sqlite3.connect("bank.db")

bt_df.to_sql("bt_records", conn, if_exists="replace", index=False)

# Verificar si se carg√≥ correctamente
pd.read_sql("SELECT * FROM bt_records LIMIT 5", conn)

          Date Description   Deposits Withdrawls     Balance
0  20-Aug-2020        Cash  97,540.00      00.00  170,542.01
1  20-Aug-2020  Commission      00.00  34,108.40  136,433.61
2  20-Aug-2020         ATM      41.00      00.00  136,474.61
3  20-Aug-2020    Interest      50.00      00.00  136,524.61
4  20-Aug-2020  Commission      00.00  34,131.15  102,393.46

In [ ]:
import numpy as np

# Asignar aleatoriamente Customer Ids desde el dataset de clientes
bt_df['Customer Id'] = np.random.choice(customers_df['Customer Id'], size=len(bt_df))

# Volver a guardar en SQLite con la columna nueva
bt_df.to_sql("bt_records", conn, if_exists="replace", index=False)